<div class="container color-dark">
  
<div class="col">
<p>Bucket List!</p>    
</div>

<div class="col" id="your">
<p>Your bucket list ({{ itemCount }})</p>  
</div>

<div class="col color-light" [@goals]="goals.length">
    <p class="sm">Use the Form below to add a new bucket list goal. What do you want to do with your goals ?</p>
  
<form>
<input type="text" class="txt" name="item" placeholder="Life goal...">  
<input type="submit" class="btn" (click)="addItem()">
</form> 


</div>
<div class="col color-light">
    <p class="life-container" *ngFor="let goal of goals; let i = index" (click)="removeItem(i)">
      
      Volante Rocks and:
      
      {{ goal }}
  
    </p>
</div>





